/* this is fot the auto button */
.autoBtn {
    display: inline-block;
    position: relative;
    top: 90%;
    left:  100%;
    transform: translateX(-100%);
    color: rgb(255, 255, 255);
  }
 

.autoBtn span{
  background-color: #F90716;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 20px 0px 0px 20px;

}
/* this is for the bus option */
#BusOption{
    margin-top: 40px;
}

#BusOption .box{
    padding:  0px 5%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}


/* this os for the responsive */

@media only screen and (max-width:768px) {
    #BusOption .box{
        display: flex;
        flex-direction: column;

    }
}
